.card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  color: tomato;
  width: max-content;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

h4.place{
  font-size: 15px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.desc {
  font-size: 13px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.stars {
  margin: 0.5em 0 0 0;
}
.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}



input {
  border: none;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
  font-family:Arial, Helvetica, sans-serif;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

